.movie-content {
  display: flex;
  flex: 1;
  padding: 10px;
  margin: 10px;
}
.movie-banner {
  flex: 1;
}
.movie-banner > img {
  width: 250px;
}
.movie-detail {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 10px;
}
.movie-description {
  flex: 1;
}

.custom-button {
  border: none;
  border-radius: 15px;
  padding: 20px;
  background-color: rgb(127, 243, 127);
  font-weight: bold;
  margin: 10px;
}
.custom-button:hover {
  cursor: pointer;
  background-color: rgb(43, 201, 43);
}

.md-1 {
  flex: 1;
  display: flex;
  padding: 10px;
  flex-direction: column;
}
