.p-10 {
  padding: 10px;
}
.m-10 {
  margin: 10px;
}

.df {
  display: flex;
}
.f1 {
  flex: 1;
}
.fd-c {
  flex-direction: column;
}
.ai-c {
  align-items: center;
}
.t-bold {
  font-weight: bold;
}
.jc-sb {
  justify-content: space-between;
}
.jc-sa {
  justify-content: space-around;
}
.ai-b {
  align-items: baseline;
}
