@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Mono:wght@300&display=swap");
.main-container {
  display: flex;
  min-height: 100vh;
}
.left-bar {
  flex: 1;
  border-right: var(--lightGray) solid;
  border-width: 2px;
  padding: 10px;
}
.left-bar .nav-brand-name {
  font-family: "righteous";
  color: var(--primaryColor);
  font-size: x-large;
}
.left-bar img {
  width: 50px;
}
.left-bar a {
  text-decoration: none;
}
.body-container {
  flex: 4;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.right-bar {
  flex: 1;
  border-left: var(--lightGray) solid;
  border-width: 2px;
  padding: 10px;
  display: flex;
}

.search-bar {
  display: flex;
  border: none;
  background-color: var(--lightGray);
  padding: 10px;
  margin: 10px;
}
.search-bar input {
  border: none;
  background: none;
}
/* .right-bar > div > input ::placeholder {
  color: lightgray;
  font: "righteous";
} */

.right-bar > div > h2 {
  color: var(--primaryColor);
}

.body-nav {
  padding: 0px 10px;
}
.body-nav .nav-item {
  padding: 10px;
  margin-right: 20px;
}
.active {
  color: var(--primaryColor);
}
.body-banner {
  flex: 1;
}
.body-banner > img {
  width: 100%;
  max-height: 250px;
}
.movie-list {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
}
.single-movie {
  /* background-color: #c5b8b8; */
  height: 226px;
  width: 158px;
  padding: 2px;
  margin: 10px;
}
.single-movie img {
  width: 100%;
  border-radius: 5px;
  transition: 100ms 0ms ease-in-out;
}
.single-movie img:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.single-popular-container {
  display: flex;
}
.single-popular {
  height: 50px;
  width: 50px;
  background-color: pink;
  margin: 10px;
}
/* .single-popular-content-container {
  display: flex;
} */
.single-popular-content {
  display: flex;
  flex-direction: column;
}
.single-popular-content .heading {
  font-size: small;
  font-weight: bold;
}
.single-popular-content .genre {
  font-size: small;
}
.right-sub-container {
  display: flex;
  flex-direction: column;
}
.single-movie {
  display: flex;
}

.active-nav {
  background-color: var(--primaryColor);
  color: white;
}