@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import "./Styles/common.css";
:root {
  --primaryColor: rgb(43, 95, 104);
  --lightGray: #f2f2f2;
}
body {
  margin: 0;
  font-family: "roboto mono", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
